---
interface Props {
  name: string;
  icon: string;
  link?: string;
}

const { name, icon, link } = Astro.props
---

<a href={link} class="group flex-row items-center gap-1 pl-1 flex">
  <img class="w-4 h-4 group-hover:w-[1.05rem] group-hover:h-[1.05rem] transition-all" src={icon} />
  {" "+name}
</a>
